<ion-list class="side-menu" lines="none" inset>
  <ion-list-header><ion-label>メイン</ion-label></ion-list-header>
  <ion-item [button]="true" [detail]="false" [ngClass]="{'active': p.active}"
            *ngFor="let p of pages; trackBy: trackByFn" (click)="openPage(p)">
    <ion-label [innerHTML]="p.title"></ion-label>
  </ion-item>
  <ion-list-header><ion-label>カテゴリ</ion-label></ion-list-header>
  <ion-item [button]="true" [detail]="false"  [ngClass]="{'active': p.active}"
            *ngFor="let p of categories; trackBy: trackByFn" (click)="openPage(p)">
    <ion-label [innerHTML]="p.title"></ion-label>
  </ion-item>
</ion-list>
