<ion-spinner *ngIf="!Loaded" color="primary"></ion-spinner>
<ion-list *ngIf="Loaded">
  <ion-item *ngFor="let post of posts;trackBy:post?.ID" (click)="viewSingle(post)" class="clickeble">
    <ion-row style="width: 100%" class="ion-nowrap">
      <ion-col size="auto">
        <ion-avatar class="thumbnail" [ngStyle]="{'background-image': 'url(' + post.post_thumbnail.URL + '?w=300)'}"></ion-avatar>
      </ion-col>
      <ion-col style="flex-grow:10;">
           <div>
             <h2 [innerHTML]="post.title"></h2>
             <div class="read"><p [innerHTML]="post.excerpt"></p></div>
           </div>
      </ion-col>
      <ion-col style="margin-left: auto;text-align:right;">
        <ion-label class="day">{{post.date | mydate}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-list>
