header.article-header,article.article-content {
  padding-left: 8*2px;
  padding-right: 8*2px;
}
header.article-header{
  border-bottom: 1px solid var(--ion-color-medium);
  max-width:740px;
  margin: 0 auto 8*2px;
  padding-top: 0;
  padding-bottom: 8*2px;
  color:var(--ion-color-dark);

  ul {
    display:flex;
    list-style-type:none;
    margin:0;padding:0;

    li {
      margin-right:10px;
    }
  }
}

article.article-content {
  max-width:740px;
  margin:auto;

  .thumbnail {
    margin-top:10px;
  }

  .main {
    border-bottom: 1px solid var(--ion-color-medium);
    margin-bottom:20px;
    font-size:1rem;
    color:var(--ion-color-dark);
    line-height: 1.8rem;

    h1,h2,h3,h4,h5 {
      margin: 30px 0 10px;
    }
    p{
      margin-bottom: 8*2px;
    }

    pre {
      font-size:1.4rem;
      border: 1px solid var(--ion-color-medium);
      padding:20px;
    }

    blockquote {
      background-color: var(--ion-color-medium);
      margin:10px 0;
      padding:10px 20px;
    }



    .alignright {
      float: right;
      margin-left:30px;
    }

    .alignleft {
      float: left;
      margin-right:30px;
    }

    .aligncenter {
      margin:auto;
    }


    figure {
      max-width:100%;
      margin:0;
    }
  }

  .attribute {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    font-size: .8rem;
    dt,a {
      display:block;
      padding: 4px 0 2px;
      min-width:100px;

      ion-icon {
        position:relative;top:1px;
        margin-right:2px;
      }
    }
    dd {
      min-width: 300px;
      &.profile {
        display:flex;
        align-items: center;
        img {
          width:40px;height:40px;
          margin-right:10px;
        }
      }
      ul {
        display:flex;
        flex-wrap:wrap;
        list-style-type:none;
        margin:0;padding:0;

        li {
          margin: 0 2px 2px;
        }
      }
    }
  }
}
ul.social-share {
  list-style-type:none;
  display:flex;
  margin:0;padding:0;
  li {
    width:50%;
    border-right: 1px solid #FFF;
    background: var(--ion-color-primary);
    button,a{
      border-radius:0;
      font-size: .8rem;
      margin:0;
      min-height:42px;
      color: #FFF;
      background: none;
      width: 100%;
      display:flex;
      justify-content: center;
      line-height: 1;
      text-decoration:none;
      ion-icon{
        position:relative;
        margin-right:0.5rem;
      }
    }
    &:last-child{
      border-right: none;
    }
  }
}
