ng-component {

  [padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
    margin-top: 0;
  }

  .toolbar-title {
    position:relative;top:2px;
  }

  img {
    height:auto;
    display:block;

    &.radius {
      border-radius:100%;
    }
  }

  .clickeble {
    cursor: pointer;
  }

  ion-item{
    ion-label h2, p{
      white-space:pre-wrap;
    }
  }

  .split-pane {
    &.split-pane-md {
      top: 52px;
    }

    &.split-pane-ios {
      top: 52px;
    }
  }

  ion-split-pane>ion-menu ion-content.content,
  ion-split-pane>ion-menu ion-content.content button{
    background-color: color($colors,light);
    font-size:1.4rem;
  }

  ion-split-pane>ion-menu ion-content.content button:hover {
    color: color($colors,primary);
  }

  .side-menu {
    padding-top:10px;
    ion-item-divider {
      background-color: transparent;
      font-weight:bold;
      margin-bottom:5px;
    }
    button.item-block {
      background-color: transparent;

      &:hover,&.active {
        color: color($colors,primary);
        border-right: 2px solid color($colors,primary);
      }

      div.item-inner, &:last-child{
        border:none;
      }
    }
  }

  ion-thumbnail {
    background-size: cover;
    border-radius:100%;
  }

  ion-note.note-md,ion-note.note-ios {
    font-size: 1.2rem;
    align-self: flex-start;
    padding-top: 5px;
    color: color($colors,dark);
  }

  header.article-header{
    border-bottom: 1px solid color($colors,dark);
    max-width:740px;
    margin:8px auto -10px;
    color:color($colors,black);

    ul {
      display:flex;
      list-style-type:none;
      margin:0;padding:0;

      li {
        margin-right:10px;
      }
    }
  }

  article.article-content {
    max-width:740px;
    margin:auto;

    .thumbnail {
      margin-top:10px;
    }

    .main {
      border-bottom: 1px solid color($colors,dark);
      margin-bottom:20px;
      font-size:1.6rem;
      color:color($colors,black);
      line-height: 2.6rem;

      h1,h2,h3,h4,h5 {
        margin: 30px 0 10px;
      }

      pre {
        font-size:1.4rem;
        border: 1px solid color($colors,dark);
        padding:20px;
      }

      blockquote {
        background-color: color($colors,light);
        margin:10px 0;
        padding:10px 20px;
      }

      img {
        border:1px solid color($colors,light);
        max-width:100%;
      }

      .alignright {
        float: right;
        margin-left:30px;
      }

      .alignleft {
        float: left;
        margin-right:30px;
      }

      .aligncenter {
        margin:auto;
      }


      figure {
        max-width:100%;
        margin:0;
      }
    }

    .attribute {
      display:flex;
      flex-wrap:wrap;
      align-items: center;
      dt,a {
        display:block;
        font-size:1.3rem;
        padding: 4px 0 2px;
        min-width:100px;

        ion-icon {
          position:relative;top:1px;
          margin-right:2px;
        }
      }
      dd {
        min-width: 300px;
        &.profile {
          display:flex;
          align-items: center;
          img {
            width:40px;height:40px;
            margin-right:10px;
          }
        }
        ul {
          display:flex;
          flex-wrap:wrap;
          list-style-type:none;
          margin:0;padding:0;

          li {
            margin: 0 2px 2px;
          }
        }
      }
    }
  }

  ul.social-share {
    list-style-type:none;
    display:flex;
    margin:0;padding:0;

    li {
      width:50%;
      border-right: 1px solid color($colors,white);

      &:last-child{
        border-right: none;
      }

      button {
        border-radius:0;
        font-size:1.3rem;
        margin:0;
        min-height:42px;
        ion-icon{
          position:relative;
          top:1px;
          margin-right:0.5rem;
        }
      }

      a {
        text-decoration:none;
      }
    }
  }
}

