<header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <a href="https://ionicframework.com/" target="_blank" rel="noopener" ion-button icon-only color="royal">
        <ion-icon name="ionic"></ion-icon>
      </a>
      <a href="https://github.com/rdlabo/ionic-wpcom" target="_blank" rel="noopener" ion-button icon-only color="royal">
        <ion-icon name="logo-github"></ion-icon>
      </a>
    </ion-buttons>
    <ion-searchbar (input)="searching($event)" (ionClear)="cancelKeyword($event)" [(ngModel)]="searchKeyword" (ionFocus)="searchStart()"></ion-searchbar>
  </ion-toolbar>
</header>