<ion-spinner *ngIf="posts == 0" color="primary"></ion-spinner>
<ion-list>
  <ion-item *ngFor="let post of posts;trackBy:post?.ID" (tap)="viewSingle(post)">
    <ion-thumbnail item-start  [ngStyle]="{'background-image': 'url(' + post.post_thumbnail.URL + '?w=300)'}"></ion-thumbnail>
    <h2 [innerHTML]="post.title"></h2>
    <div><p [innerHTML]="post.excerpt"></p></div>
    <ion-note item-end>{{post.date | mydate}}</ion-note>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-list>