
<ion-content>
  <ion-list class="side-menu">
    <ion-item-divider>メイン</ion-item-divider>
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" [ngClass]="{'active': p.active}" >
      <span [innerHTML]="p.title"></span>
    </button>
  </ion-list>
  <ion-list class="side-menu">
    <ion-item-divider>カテゴリ</ion-item-divider>
    <button menuClose ion-item *ngFor="let p of categories" (click)="openPage(p)"  [ngClass]="{'active': p.active}">
      {{p.title}}
    </button>
  </ion-list>
</ion-content>